@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F4A49;
    font-family: "Roboto", sans-serif;
    color: #F2AF5C;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 20px;

}

h1 {
    font-family: "Limelight", sans-serif;
    line-height: 75px;
    font-size: 300%;

}

.countdown-timer {
    background-color: #D92B04;
    height: 100px;
    text-align: center;
    font-size: 200%;
    color: #F2F2F2;
    font-style: italic;
    font-size: 100%;
}

.how-to-play-container {
    display: flex;
    justify-content: center;
    margin: 5px;

}

.how-to-play {
    width: 300px;
    /* border: 1px solid #F2AF5C;  */
    margin: 5px;


}

.game-container {
    display: flex;
    justify-content: center;
    margin: 5px;

    

}

.game-grid {
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #F2AF5C;


}

.game-card {
    background-color: #1F4A49;
    border: 1px solid #F2AF5C;
    height: 70px;
    width: 70px;
    margin: auto;

}


.score-lives-container {
    margin: 5px;
}





/* ----------footer */
.social-networks-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: #F2AF5C;
    color: #1F4A49;
    width: 300px;

}


.social-networks i {
    margin: 5px;
    color: #1F4A49;
    font-size: 150%;
}