@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: #1F4A49;
    font-family: "Roboto", sans-serif;
    color: #F2AF5C;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;

}

h1 {
    font-family: "Limelight", sans-serif;
    line-height: 75px;
    font-size: 300%;

}

.countdown-timer {
    background-color: #D92B04;
    height: 100px;
    text-align: center;
    font-size: 200%;
    color: #F2F2F2;
    font-style: italic;
    font-size: 100%;
}

.how-to-play-container {
    display: flex;
    justify-content: center;
    margin: 5px;

}

.how-to-play {
    width: 200px;
    /* border: 1px solid #F2AF5C; */

}

.game-container {
    height: 350px;
    display: flex;
    justify-content: center;
    margin: 5px;
    
}

.game-grid {
    height: 350px;
    width: 400px;
    border: 1px solid #F2AF5C;
}

.score-lives-container {
    margin: 5px;
}





/* ----------footer */
.social-networks-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: #F2AF5C;
    color: #1F4A49;
    width: 300px;

}


.social-networks i {
    margin: 5px;
    color: #1F4A49;
    font-size: 150%;
}