@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #1F4A49;
    color: #F2AF5C;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 20px;
}

.page-wrapper {
    background-color: #1F4A49;
}

h1 {
    border: 1px solid #F2AF5C;
    font-family: "Limelight", sans-serif;
    line-height: 75px;
    font-size: 300%;
    text-shadow: 3px 3px 8px #203201;

}

.countdown-timer {
    border: 1px solid #F2AF5C;
    background-color: #D92B04;
    height: 100px;
    text-align: center;
    font-size: 200%;
    color: #F2F2F2;
    font-style: italic;
    font-size: 120%;
    line-height: 100px;
}

.how-to-play-container {
    display: flex;
    justify-content: center;
    margin: 5px;

}

.how-to-play {
    width: 300px;
    margin: 5px;


} 


.grid {
    border: 1px solid #F2AF5C;
    display: flex;
    flex-wrap: wrap;
    width: 302px;
    height: 400px;
   
}

 .grid-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

 
.score-flip-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-flip-container {
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    
    

}

/* Button Styling */
button {
    background-color: #D92B04;
    color: #F2AF5C;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-family: "Limelight", sans-serif;
    font-size: 200%;
    text-shadow: 3px 3px 8px #203201;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 10px 8px black;
}

button:hover {
    color: #F2F2F2;
}




/* footer */
.social-networks-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.social-networks {
    border: 1px solid #F2AF5C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color:  #1F4A49;
    width: 300px;

}

.social-networks i {
    margin: 5px;
    color: #F2AF5C;
    font-size: 150%;
}